.contact-container {
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
}

.contact-title {
  z-index: 2;
  font-weight: bold;
  font-size: 3rem;
  height: 2rem;
  margin-bottom: 5rem;
}

.row-section {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  z-index: 2;
}

.form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 3rem;
}

form {
  display: flex;
  flex-direction: column;
}

.keep-contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 3rem;
}

input,
textarea {
  backdrop-filter: blur(10px);
  background-color: rgba(229, 239, 248, 0.3);
  color: white;
  border-radius: 5px;
  padding: 10px;
  outline: none;
  border: none;
  margin-bottom: 1rem;
  font-size: 1rem;
}

input {
  width: 13rem;
}

textarea {
  width: 20rem;
}

input::placeholder,
textarea::placeholder {
  color: rgb(255, 255, 255, 0.7);
  font-size: 0.9rem;
}

.form-button {
  font-size: 1.1rem;
  padding: 7px;
  width: 7rem;
}

.contact-section-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.credits {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 5%;
  right: 3%;
}

.credits p {
  font-size: 0.8rem;
  font-style: italic;
  margin-top: 0.3rem;
  color: white;
}

.credits p a {
  text-decoration: underline;
}

.contact-section-body {
  margin: 2rem 0;
  backdrop-filter: blur(10px);
  background-color: rgba(229, 239, 248, 0.3);
  color: white;
  border-radius: 5px;
  padding: 20px;
  outline: none;
  border: none;
  width: 40%;
}

.first-section,
.second-section {
  display: flex;
  justify-content: space-around;
  animation: fade 1.5s linear 0.5s forwards;
  opacity: 0;
}

.first-section {
  border-bottom: solid 2px #edba78;
  padding-bottom: 1rem;
}

.second-section {
  padding-top: 1rem;
}

.img-linkedin {
  animation: fade 1.5s linear 0.5s forwards;
  opacity: 0;
}
.img-phone {
  animation: fade 1.5s linear 1s forwards;
  opacity: 0;
}
.img-github {
  animation: fade 1.5s linear 1.5s forwards;
  opacity: 0;
}
.img-email {
  animation: fade 1.5s linear 2s forwards;
  opacity: 0;
}

.contact-img:hover {
  transform: scale(1.2);
}

.contact-button {
  font-size: 1.2rem;
  padding: 15px;
  width: 100%;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.img-phone,
.img-email {
  cursor: pointer;
}

.phone-modal {
  position: absolute;
  left: 5px;
  bottom: 0;
  background-color: #edba78;
  padding: 5px;
  border-radius: 5px;
  display: none;
}

.email-modal {
  position: absolute;
  right: 0;
  left: 8rem;
  bottom: 0;
  background-color: #edba78;
  padding: 5px;
  border-radius: 5px;
  width: 65%;
  display: none;
}

.show {
  display: block;
}

@media only screen and (max-width: 1100px) {
  .contact-title {
    margin-top: 0;
    margin-bottom: 2rem;
  }
  .row-section {
    flex-direction: column;
    align-items: center;
  }

  .form-section,
  .keep-contact-section {
    width: 100%;
    padding: 1rem;
  }

  .contact-section-body {
    width: 50%;
  }

  .form-section form {
    width: 70%;
  }

  input,
  textarea {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
  .form-button {
    margin: 0 auto;
  }

  .email-modal {
    width: 45%;
  }

  .nav {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .credits {
    bottom: 1%;
  }
}

@media only screen and (max-width: 600px) {
  .contact-container {
    height: 100%;
  }

  .contact-title {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .form-section,
  .keep-contact-section {
    padding: 1rem;
  }

  .form-section form {
    width: 100%;
  }

  input,
  textarea {
    width: 100%;
  }

  .form-button {
    margin: 0 auto;
  }

  .contact-section-body {
    width: 100%;
  }

  .email-modal {
    width: 50%;
  }

  .nav {
    margin-top: 1rem;
    margin-bottom: 4rem;
  }

  .credits {
    bottom: 1%;
  }
}
