.loader {
  position: absolute;
  display: flex;
  background: rgb(237, 186, 120);
  background: linear-gradient(
    90deg,
    rgba(237, 186, 120, 1) 0%,
    rgba(229, 237, 248, 1) 50%,
    rgba(226, 158, 147, 1) 100%
  );
  justify-content: center;
  font-size: 1rem;
  z-index: 4;
  align-items: center;
  width: 100%;
  height: 100vh;
  animation: fadeinloader 4s;
  animation-fill-mode: forwards;
}

@keyframes fadeinloader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    height: 100vh;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    height: 0;
  }
}

#loader-container {
  position: relative;
  display: flex;
  height: 400px;
  width: 400px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#loader-container .reverse-round {
  border-radius: 50%;
  border: 10px solid transparent;
  border-right-color: #0384bd;
  border-left-color: #edba78;
  margin: 10px;
  position: absolute;
}

#circle1 {
  height: 250px;
  width: 250px;
}

#circle2 {
  height: 200px;
  width: 200px;
}

#circle3 {
  height: 150px;
  width: 150px;
}

#circle4 {
  height: 100px;
  width: 100px;
}

#circle5 {
  height: 50px;
  width: 50px;
}

.large-container {
  z-index: 2;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  animation: appear 4s;
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.home-container {
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.home-title {
  width: 50%;
  text-align: center;
  z-index: 2;
  font-size: 4.5rem;
  line-height: 1;
  margin-top: 12rem;
  margin-bottom: 6rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  cursor: default;
}

.light-alice-blue {
  animation: fadein 2s;
}

.home-button {
  animation: fadeinbutton 8s;
}

.nav {
  animation: fadeinbutton 8s;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeinbutton {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.dud {
  color: #e5edf8;
}

@media only screen and (max-width: 1500px) {
  .home-title {
    margin-top: 6rem;
  }
}

@media only screen and (max-width: 1400px) {
  .home-title {
    margin-top: 8rem;
    font-size: 3.5rem;
  }

  .nav {
    margin-top: 4rem;
  }
}

@media only screen and (max-width: 1100px) {
  .home-title {
    width: 80%;
    font-size: 3rem;
  }
  .nav {
    margin-top: 8rem;
  }
}

@media only screen and (max-width: 450px) {
  .home-title {
    width: 90%;
    font-size: 2rem;
  }
}
