.projects-container {
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: calc(100vh - 13rem);
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
}

.projects-title {
  z-index: 2;
  font-weight: bold;
  font-size: 3rem;
  height: 2rem;
  margin-top: 6rem;
  margin-bottom: 5rem;
}

.swiper {
  z-index: 2;
  width: 300px;
  height: 300px;
  padding: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide h2 {
  font-weight: bold;
  text-align: center;
}

.swiper-slide h2:hover {
  color: rgb(3, 132, 189);
}

.slider-img {
  display: block;
  width: 100%;
}

.bg-blur {
  width: 40vw;
  margin: 0 auto;
  backdrop-filter: blur(10px);
  background-color: rgba(229, 239, 248, 0.3);
  border-radius: 30px;
  padding: 4rem 2rem;
  animation: fade 1.5s linear 0.5s forwards;
  opacity: 0;
}

.swiper-button-prev {
  color: #0384bd !important;
  left: -40px !important;
}
.swiper-button-next {
  color: #0384bd !important;
  right: -40px !important;
}

.swiper-horizontal > .swiper-pagination-progressbar {
  top: 105% !important;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
