.skills-container {
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: calc(100vh - 13rem);
  justify-content: center;
  align-items: center;
}

.skills-title {
  z-index: 2;
  font-size: 1.5rem;
  font-weight: bold;
}
